body{
    background: url(img/back.jpg);
    background-size: 100%;
    image-orientation: 100%;
    background-repeat: no-repeat;
    min-height: 1000%;
    opacity: .8;
}
.box a{
    text-decoration: none;
    text-align: center;
}
.box a:visited {
    color: white;
  }
.box a:hover {
    color: rgb(89, 1, 230);
  }
.box a:active {
    color: blue;
  }
