.Main_wrapper{
    width: 100%;
    height: 100%;
     
}

/* nav bar */
.nav_bar{
    overflow: hidden;
    padding: 10px;
    display: block;
height: 100%;
width: 100%;
background:rgb(46, 173, 182);
}
.logo{
    float: left;
    width: 10%;
    height: 100%;
    background:rgb(219, 161, 161);
}
.menu_name{
    float: left;
    width: 80%;
    height: 100%;
}
.ul_nav{
    list-style: none;
}
.item{
    text-align: center;
    overflow: hidden;
    font: 15px garamond  ;
    float: left;
    color: black;
    margin-left: 5px;
    height: auto;
    background: gainsboro;
    text-transform: capitalize;
    border-radius: 4px;
}
.link{
    text-decoration: none;
}
.item:hover {
    text-align: center;
    float: left;
    margin-left: 5px;
    background: rgb(207, 148, 148);
    border-radius: 6px;
    height: auto;
    color: white;
    text-transform: capitalize;
}
.main_body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
}
.left_body{
float: left;
display: inline-block;
width: 25%;
height: 100%;
background: white;
}
.left_body_wrapper{
    background: rgb(235, 241, 235);

}
.topic_header{
    text-align: center;
    height: 10px;
    overflow: hidden;
    padding: 10px;
}
.topic{
    display: block;
    text-decoration: none;
    color: black;
    padding: 3px 2px 3px 24px;
    font-size: 14px;
    background: gainsboro;
    border-bottom: .1px solid  gray;
}
.topic:hover{
    display: block;
    text-decoration: none;
    color: rgb(247, 241, 241);
    padding: 3px 2px 3px 24px;
    font-size: 16px;
    background: rgb(33, 111, 201);
    border: none;
}
.middle_body{
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
}
.right_body{
    display: inline-block;
    float: left;
    width: 25%;
    height: 100%;
    background: white;
    }
.footer{
display: block;
width: 100%;
height: 100%;
background: gray;
}
.footer_wrapper{
    overflow: hidden;
width: 80%;
height: 100%;
background: yellow;
margin: auto;
}
.left_footer{
    float: left;
    width: 30%;
    height: 100%;
    text-align: center;
    background: rgb(134, 153, 134);
}
.middle_footer{
    float: left;
    width: 40%;
    height: 100%;
    text-align: center;
    background: green;
}
.right_footer{
    float: left;
    text-align: center;
    width: 30%;
    height: 100%;
    background: hotpink;
}